@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/loggedIn.cshtml";
}

<script>
    $(document).ready(function () {
        $('.fancybox').fancybox({

        });
    });
</script>


<div class="container" style="padding-top:10em; padding-left:22em">
    <h1>Developed By Agha Ali Abbas Khan</h1><br>
    <div class="thumbnail" style="max-width:200px;max-height:250px;">
        <a href="~/Content/themes/base/images/11128744_624538984349762_603218827265247156_o.jpg" class="fancybox"><img src="~/Content/themes/base/images/11128744_624538984349762_603218827265247156_o.jpg" /></a>
    </div>
<pre style="font-family:'Comic Sans MS'; font-size:20px">

    This Music box is developed for music lovers,
    so that they can integrate all there favourite music at one place and gather 
    listen to it whenever and whereever they want without any issue of storage.
</pre>
</div>
<div class="thumbnail">
    <a href="~/Content/themes/base/images/11128744_624538984349762_603218827265247156_o.jpg"><img src="~/Content/themes/base/images/11128744_624538984349762_603218827265247156_o.jpg" /></a>
</div>